<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="AppointmentDbContext" connectionString="Data Source=DESKTOP-BR1FSSN\SQLEXPRESS;Initial Catalog=AppointmentDB;Integrated Security=True" providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>